@import "tailwindcss";
@import "./styles/fonts.css";

@theme {
  --font-touchme: "TouchMeSans", sans-serif;
  --font-dmsans: "DMSans", sans-serif;
}

/* Set DM Sans as the default font for the whole app */
body {
  font-family: var(--font-dmsans);
  @apply bg-white text-slate-900; /* Global white background, dark text */
}